<div class = "groups_list h-75 overflow-auto">
  <% groups.each do |group| %>
    <div class = "bg-light mt-3">
      <div class = "d-inline-block w-75">
        <div class = "d-inline-block">
          <%= link_to group_path(group) do %>
            <%= image_tag group.get_group_image, :width => '50', :height => '50' %>
          <% end %>
        </div>
        <div class = "d-inline-block">
          <%= link_to group_path(group) do %>
            <%= group.name %><% if group.owner_user_id == 4 %><span class = "text-success">(公式)</span><% end %>
          <% end %>
        </div>
        <div>
          視聴作品：『<%= group.title %>』
        </div>
        <div>
          <% group.tags.each do |tag| %>
            <%= link_to tag_search_path(tag.id) do %>
              <%= tag.name %>(<%= tag.groups.count %>)
            <% end %>
          <% end %>
        </div>
      </div>
      <div class = "d-inline-block text-right">
        <div>
          <%= group.start_time.strftime('%Y/%m/%d %H:%M') %>～
        </div>
        <div>
          <%= group.viewing_time %>分間
        </div>
      </div>
      <div>
        <div class = "d-inline-block">
          <%= group.end_users.count %>人参加予定
        </div>
        <div class = "d-inline-block">
          <% if group.owner_user_id == current_end_user.id %>
            <%= link_to '編集', edit_group_path(group), class: "btn btn-sm btn-success" %>
            <%= link_to "削除", group_path(group), method: :delete, class: "btn btn-sm btn-danger" %>
          <% elsif group.end_users.include?(current_end_user) %>
            <%= link_to 'グループから抜ける', group_leave_path(group),method: :delete, class: "btn btn-sm btn-danger" %>
          <% else %>
            <%= link_to 'グループに参加する', group_join_path(group), class: "btn btn-sm btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>