<h1>視聴時間が長い順</h1>
<div>
  <%= link_to "新着順", groups_path %>|<%= link_to "参加人数順", groups_popular_path %>|<%= link_to "開始が近い順", groups_start_path %>|視聴時間が長い順|<%= link_to "視聴時間が短い順", groups_short_path %>|<%= link_to "終了したグループ", groups_closed_path %>
</div>
<%= render "groups_index", groups:@groups %>