<div class = "d-inline-block">
    <%= image_tag group.get_group_image, :width => '200', :height => '200' %>
</div>
<div class = "d-inline-block">
  <% if @group.owner_user_id == @current_end_user.id %>
    <%= link_to '編集', edit_group_path(group), class: "btn btn-sm btn-success" %>
    <%= link_to "削除", group_path(group), method: :delete, class: "btn btn-sm btn-danger" %>
  <% elsif @group.end_users.include?(@current_end_user) %>
    <%= link_to 'グループから抜ける', group_leave_path(@group),method: :delete, class: "btn btn-sm btn-danger" %>
  <% else %>
    <%= link_to 'グループに参加する', group_join_path(@group), class: "btn btn-sm btn-success" %>
  <% end %>
</div>
<table class = "table table-bordered">
  <tbody>
    <tr>
      <td><%= group.name %><% if group.owner_user_id == 4 %><span class = "text-success">(公式)</span><% end %></td>
    </tr>
    <tr>
      <td><%= group.introduction %></td>
    </tr>
    <tr>
      <td>『<%= group.title %>』</td>
    </tr>
    <tr>
      <td><%= group.genre %></td>
    </tr>
    <tr>
      <td><%= group.start_time.strftime('%Y-%m-%d %H:%M') %>～　<%= group.viewing_time %>分</td>
    </tr>
    <tr>
      <td>
        タグ：
        <% group.tags.each do |tag| %>
          <%= link_to tag_search_path(tag.id) do %>
            <%= tag.name %>(<%= tag.groups.count %>)
          <%end %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<div class = "overflow-auto">
  <h4>メンバー</h4>
  <div>
    <% group.end_users.each do |end_user| %>
      <div class = "mt-1">
        <div class = "d-inline-block">
          <%= link_to end_user_path(end_user) do %>
            <%= image_tag end_user.get_end_user_image, :width => '50', :height => '50' %>
          <% end %>
        </div>
        <div class = "d-inline-block">
          <%= link_to end_user_path(end_user) do %>
            <%= end_user.name %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>