<!DOCTYPE html>
<html>
  <head>
    <title>WatchingParty</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "container-fluid h-100">
      <div class = "row">
        <div class = "col-3 pt-3 bg-light left_bar", id = "menu", style = "height:100vh;">
          <%= render "layouts/left_bar", current_end_user:@current_end_user %>
        </div>
        <div class = "center_top_menu w-100">
          <div class = "logo">
            <%= link_to root_path do %>
              <img src = "https://raw.githubusercontent.com/kotatsuko/Watching_Party/main/app/assets/images/Watching%20Party.png" height="100%">
            <% end %>
            <div id="hm-icon">
              <a class="menu-trigger" href="#">
                <span></span>
                <span></span>
                <span></span>
              </a>
            </div>
          </div>
        </div>
        <div class = "col-6 pt-3 center_bar">
          <%= yield %>
        </div>
        <div class = "col-3 pt-3 bg-light right_bar group_right_bar">
          <%= render "layouts/group_detail_bar", group:@group %>
        </div>
      </div>
    </div>
  </body>
</html>
